[2016-03-17 14:32] cdvv7788 opened #1 "Should work with any user model"
Currently it works only with the default user model. Need to make the references point to AUTH_USER_MODEL.

[2016-03-17 14:34] cdvv7788 opened #2 "User profile name should not clash"
Profile is too generic, and users may already have that into their project. Simply use a different name (add a prefix or something) to avoid the clash and keep the work required to install the app at the minimum.

[2016-03-17 14:45] cdvv7788 commented on #2
Renamed it to UserQAProfile. Internally it should not break anything else.

[2016-03-17 14:45] #2 closed

[2016-03-17 15:27] cdvv7788 opened #3 "Questions should have both a title and a description"
Currently it only has a field. Need to have both of them.

[2016-03-17 15:54] cdvv7788 opened #4 "Test project should have the authentication"
Currently is into the app. Move it to the test project

[2016-03-17 16:31] sebastian-code commented on #1
Fixing this with 5e4e8f986d6143bbc100323a8fd0c3d676aa03e0

[2016-03-17 16:31] #1 closed

[2016-03-17 16:32] #4 closed

[2016-03-17 16:40] sebastian-code opened #5 "Implement a better taggin option"
Django-Taggit is the reference when tagging on any django app, it should be implemented, but there is the need to validate than the tags are not shared between apps, mainly to improve searching functionalities, but also for isolation and to avoid interdependencies.

[2016-03-17 17:42] sebastian-code commented on #3
This migration added those fields, keeping the title as the original question_text to avoid deeper changes on the views for now.

[2016-03-17 17:42] #3 closed

[2016-03-17 17:46] sebastian-code opened #6 "Voting views calling a wrong instance"
The vote view (both for up vote and down vote) is not working properly, because it is calling directly the user name and not an instance throwing this error: `ValueError: Cannot query "maestro": Must be "User" instance.`

[2016-03-17 17:49] sebastian-code opened #7 "Error on answer creation"
When the answer is recorded, it throws the next error: `NOT NULL constraint failed: qa_answer.user_id`

[2016-03-17 17:58] sebastian-code opened #8 "Fix url routing"
The app has no url routing implemented properly, right now the urls file is inside the example proyect, so the app lacks urls in case is used outside that scope.

[2016-03-17 18:02] sebastian-code opened #9 "Implement testing"
Implement test on the app

[2016-03-17 21:18] sebastian-code commented on #7
Fixed on 664af52e174728f7ad6448ed85219f97c4af3e86

[2016-03-17 21:18] #7 closed

[2016-03-19 12:33] sebastian-code opened #10 "Why a LoginRequiredMixin?"
@cdvv7788 Django 1.9 implements it's own LoginRequired mixin, and obviously, there is the django-braces one, why to implement your own?

[2016-03-19 13:28] cdvv7788 commented on #10
I haven't seen the one from Django1.9. In any case, we need to support Django1.8 and i don't want to add more requirements just for a simple mixin (django braces).

[2016-03-19 15:42] #10 closed

[2016-03-19 15:44] sebastian-code opened #11 "Error on reverse for 'qa_tag' URL"
The index template is throwing an exception NoReverseMatch for `Reverse for 'qa_tag' with arguments '(' Preguntas',)' and keyword arguments '{}' not found. 1 pattern(s) tried: ['tag/(?P<tag>[-\\w]+)/$']`

[2016-03-20 14:52] sebastian-code commented on #11
Solved

[2016-03-20 14:52] #11 closed

[2016-03-20 20:04] sebastian-code opened #12 "Create question not working"
The CreateQuestion view is throwing an error related to bad reverse routing.

[2016-03-20 20:08] sebastian-code commented on #12
Fixed with 21c53386a11c7e94a5fd79a7d9d85689b50678a8

[2016-03-20 20:08] #12 closed

[2016-03-20 20:11] sebastian-code opened #13 "Cleaner templates"
The Django template engine allows to create a basic template for the package, so it can meld within the base theme the developer is using for it's own template structure.

As a developer I want to have that chance to integrate all my packages in a clean way into my software when I use a Django package.

[2016-03-21 15:35] sebastian-code opened #14 "Empty POST action on comment template"
The template comment.html was loading due to a error to reverse the URLConf to the comments on the link inside the form.

On commit b40fdae1475f2eab24bea700df01453c35190577 I introduced an empty link to the post form in the template, and it was fixed, but it shouldn't, or at least I don't know why.

[2016-03-21 16:01] sebastian-code opened #15 "Test project templates not loading."
None of the templates on the test project are loading.

[2016-03-21 20:34] #15 closed

[2016-03-21 20:42] cdvv7788 commented on #9
What does we need to consider this complete? We already have some test structure for the app and a couple tests implemented. We are still missing travis, but that can be done on a separate issue.

[2016-03-21 20:43] cdvv7788 commented on #8
We moved this already. App only has the urls it does require. Is there something we are missing?

[2016-03-22 13:53] sebastian-code commented on #5
Closing it with commit a15f9eaa3e543db68b84ccaa8d14e04ea1f7dbaf

[2016-03-22 13:53] #5 closed

[2016-03-22 13:57] sebastian-code commented on #6
Solved, closing it.

[2016-03-22 14:04] sebastian-code commented on #8
Yes, the URLConf for the django-markdown package, that URL persist on the test project urls file. If I try to move it to the package urls file, it broke the question registering flow.

[2016-03-22 14:05] sebastian-code commented on #9
I would say than coverage > 95 would be fine, what do you think?

[2016-03-22 14:11] sebastian-code opened #16 "Broken URLS"
Around commit c6ddb9b8e70431d2b607bf1883886259ceb05168 the question detail url is broken for new question, but is working perfectly for older questions.

[2016-03-22 14:58] sebastian-code commented on #16
Fixed on bd58ea944b908daaf675a05931759796efe28ddb

[2016-03-22 14:58] #16 closed

[2016-03-22 15:07] sebastian-code commented on #6
Reopening because still failing.

[2016-03-22 16:12] sebastian-code opened #17 "Recover the reputation system"
With the migration to a CBV system on the views, we broke the reputation management system, that should be recovered. A "nice to have" setting would be to be able to implement a default set of scores to give credit on the users, but that should be able to be overrided somewhere, so one can change those.

[2016-03-25 17:01] sebastian-code opened #18 "Being able to close a question"
Through the refactoring process, the ability to close a question and picking the right answer to the question was lost. There is the need to recover that.

[2016-03-29 18:01] cdvv7788 commented on #6
I fixed this already. Should be working now.

[2016-03-29 18:01] #6 closed

[2016-03-29 18:44] cdvv7788 opened #19 "Refactor README"
Currently it is just a couple of pictures, should contain a description of the installation process. Also, the pictures are broken in pypi.

[2016-04-12 16:33] sebastian-code opened #20 "Broken test"
The test _test_create_question_view_one_ on the Test Views module is broken, throws this stacktrace:

[code]

[2016-04-12 21:34] cdvv7788 commented on #20
Cannot reproduce it. Can you verify that you have the right versions?

[2016-04-15 14:28] sebastian-code commented on #18
Solved 05631c5405708e4278f593aaddf189e326857313

[2016-04-15 14:28] #18 closed

[2016-04-15 14:32] sebastian-code commented on #19
Solved 97eb23bc1b2127e5edd1486ad219b7ca02577b3a

[2016-04-15 14:32] #19 closed

[2016-04-15 14:33] sebastian-code commented on #14
Already solved

[2016-04-15 14:33] #14 closed

[2016-04-16 14:21] sebastian-code commented on #20
A freeze from pip
[code]

[2016-04-16 14:40] sebastian-code opened #21 "Wrong accounting of the views"
How the view has to be calculated and how it has to be accounted for. Actually every time the detail of a question is loaded, a new "view" is added. And plus that, the way the views are being rendered, it sums 3 new views which had no place.

This behaviour is creating wrong statistics on the package.

[2016-04-16 15:55] sebastian-code opened #22 "Add Continuous Integration"
Swapps uses fondly CodeShip, but there is also space to consider Travis CI and at least coverage integration with Coveralls I/O, Requirements I/O would be also nice to have.

[2016-05-29 01:54] jjmontesl opened #23 "Current feature set (was: is this project using Django comments?)"
Does this project use Django Comments (https://django-contrib-comments.readthedocs.io/en/latest/)?

[2016-05-29 01:55] jjmontesl opened #24 "Documentation"
I'm missing some documentation on the features and quickstart with django-qa. Would it be possible to get some heads up docs?

[2016-05-29 02:09] sebastian-code commented on #23
Hi @jjmontesl!

No, this package is not using that package, our original intent was to implement the leaner pluggable app possible, so you are not going to have issues for that, as you can see, we even implemented our own set of validation mixins on authentication to avoid to install something like django-braces.

The comments functionality is actually really lean and does the minimum we envisione

[2016-05-29 02:11] sebastian-code commented on #24
Hi @jjmontesl!

Actually we haven't worked too much on the docs, but we will, it hasn't been a priority for us but that task is on our ToDo list.

[2016-05-29 02:32] jjmontesl commented on #23
Just curious. I wish to integrate Q&A functionality in an app (cubesviewer) and I'm researching alternatives. My first thought was to implement Q&A myself on top of django-comments, but ideally something more featureful would exist.

Could you please comment on current support for the following features?

* Integration with Django authentication
* Comments on questions and answers
* Support for an

[2016-05-29 13:41] sebastian-code commented on #23
Hi @jjmontesl

Well, we have implemented django-qa a few times, and the actual state of development is in sync with those needs, but we keep developing and improving the package.

To answer your specific questions:

- The package is integrated with the framework authentication process, right now the package defines an user profile linked to Django's user model, this models was created to contain i

[2016-05-29 16:47] jjmontesl commented on #23
Thank you for the summary. Sounds good enough, I'll try with your package first.

I may miss REST support, as I'm not sure how I'll integrate user interface yet. We'll see.

Thanks for your work on a very-much needed library, imho.

[2016-05-29 16:47] #23 closed

[2016-05-29 16:49] jjmontesl commented on #23
As a side note, I was asking about django-comments because imho if this project was bujilt on django-comments, one would feel a little more "free to try it". Same goes for tags, where you already use django-taggit :-).

[2016-05-29 21:58] cdvv7788 commented on #24
I can work on this tomorrow. Meanwhile you can just install it with "pip install django-qa" and add "qa" to your installed apps. Add the urls to your main urls file and run migrations. That's about it.
We are still deciding on some things tho, so the api and some behaviours may change between versions until we are ready for the first stable release.
About the features, for now, we support the core

[2016-05-30 14:37] cdvv7788 commented on #24
I updated the README. @sebastian-code can you give it a quick review/cleanup? https://github.com/swappsco/django-qa/blob/develop/README.md

[2016-05-31 12:10] sebastian-code commented on #24
The wording is just fine @cdvv7788, I added a little bit of information about the core functionalities, based on the list created to answer #23

[2016-05-31 17:45] jjmontesl commented on #24
Kudos :100:

[2016-05-31 21:52] #24 closed

[2016-06-23 20:14] jlariza commented on #8
I think this has already been solved. I am closing this issue.

[2016-06-23 20:14] #8 closed

[2016-06-24 12:15] jlariza commented on #20
Found the error. Apparently with Django 1.8 the tag field at question model, using taggit, accepted blank tags but with Django 1.9 It is a required field. I just fixed the test, It should be working now. I am closing this issue

[2016-06-24 12:15] #20 closed

[2016-06-24 16:44] cdvv7788 commented on #22
We added travis, working on coveralls.

[2016-06-24 16:46] cdvv7788 commented on #9
90 should be enough, but we can try 95.

[2016-06-24 16:47] cdvv7788 commented on #9
Also, @jlariza added travis to the repo. We are still working on https://github.com/swappsco/django-qa/issues/22

[2016-06-27 15:52] cdvv7788 opened #25 "Cleanup old dependencies"
For some reason we are using some dependencies that we should not:

- pillow
- django_bootstrap3

We may need to review the pytz, but for now removing the other 2 should take priority.

[2016-06-27 16:19] cdvv7788 commented on #25
This should be working. Bootstrap was being loaded but not used. Removal should not change anything and the tests are still passing.
I don't know why pillow was required, i will keep an eye on this for now.

[2016-06-27 16:19] #25 closed

[2016-08-11 14:22] cdvv7788 opened #26 "Edit tag queries"
Currently if another app in the project uses django-taggit, the tags from django-qa shows up anywhere, and the tags created elsewhere shows up on django-qa.
We must modify the query for the tags so only the tags created for django-qa show up on our side.

[2016-10-16 12:21] sebastian-code commented on #26
Is this still _"a thing"_

[2016-10-20 16:58] cdvv7788 commented on #26
This was fixed by @jlariza.

[2016-10-20 16:58] #26 closed

[2016-10-26 12:45] cdvv7788 opened #27 "django-qa is not compatible with django>1.9"
We should be supporting the latest release. Please update.

[2016-11-09 05:46] NicolasJupiter opened #28 "Integrating the login of the parent app and the installed qa apps need to be explained. Currently, a click on "Ask Question" goes to "/accounts/login/?next=/feature/forum/new-question/" and generates 404 page not found error."
Adding this into Readme would help a lot.

[2016-11-09 07:20] #28 closed

[2016-11-09 07:20] NicolasJupiter opened #29 "A guide to integrating their static files should also be included in the readme document."

[2016-11-09 13:46] cdvv7788 commented on #28
Were you able to solve the issue?

[2016-11-09 13:48] cdvv7788 commented on #29
I think that we don't use anything out of the standard for the staticfiles. Can you please explain what issue are you having with static files or what needs to be explained? You are welcome to send a pull request too.

[2016-11-09 15:45] cdvv7788 commented on #29
I don't know if it is related, but after removing django-bootstrap3 as a project dependency bootstrap was not loading. I added it to the base.html and it seems to be working again.
I also added a comment to the readme. I am not a fan of CDNs, but it is up to the user to provide their own templates, if they don't like some things about the default ones.

I will release these changes today.

[2016-11-09 15:54] cdvv7788 commented on #29
https://github.com/swappsco/django-qa/releases/tag/0.0.32

[2016-11-09 15:54] cdvv7788 commented on #27
https://github.com/swappsco/django-qa/releases/tag/0.0.32

[2016-11-09 15:54] #27 closed

[2016-11-09 15:55] cdvv7788 commented on #17
@sebastian-code status of this?

[2016-11-09 16:01] cdvv7788 opened #30 "Fix readme formatting on pypi"
Pypi requires rst to work. There are 2 options:

- Change our current README.md to rst format (should be easy)
- Use: https://coderwall.com/p/qawuyq/use-markdown-readme-s-in-python-modules
The second approach can work, but i don't see a reason to stick with md as github works with rst too.

[2016-11-09 18:41] jlariza opened #31 "Reuse some code for index view and tag views"
Right now QuestionIndexView and QuestionsByTagView are two different entities but in the practice they are the same view, only the QuestionsByTagView consider only the questions related to a specific tag. For this reason, It would be nice to organize QuestionIndexView in a way that QuestionsByTagView could inherit it and just overwrite its queryset.

[2016-11-09 18:46] jlariza commented on #22
@sebastian-code @cdvv7788 coveralls is working on this repo. What else do we need for this task? read the docs maybe?

[2016-11-09 19:18] cdvv7788 commented on #22
@jlariza https://requires.io/ and yeah, writing some docs and moving them over read the docs would be nice too.

[2016-11-12 16:40] sebastian-code commented on #30
Solve with c98d4cf6f27e0ec80b8f2d4c8b1ed4baad98a6c5

[2016-11-12 16:40] #30 closed

[2016-11-14 15:48] #29 closed

[2016-11-16 18:35] cdvv7788 commented on #31
@jlariza The create question view is displaying all the tags. Should be filtered to be only the ones in the application.

[2016-11-16 20:49] jlariza commented on #21
we could use this package http://django-hitcount.readthedocs.io/en/latest/

It takes into consideration the IP that makes the request, and it is configurable to allow a span of time before that IP may hit another view.
I have used it before and it works fine; and it is very easy to integrate with an existing project

[2016-11-16 23:51] cdvv7788 opened #32 "First major release"
I think that the package is somehow stable, and we should be able to start adding features toward a 1.0.0 release.
The next release of the package will probably include improvements to the view count (0.1.0) and before the major release i would like to have a simple reputation system in place.
Another thing we are missing is documentation.
@swappsco/developers @sebastian-code What else do you thin

[2016-11-17 00:27] sebastian-code commented on #13
I would dare to say than this is solve @cdvv7788, what do you think?

[2016-11-17 00:28] sebastian-code commented on #9
Now we are at 91% did we achieve the goal @cdvv7788 or do we chase the 95%?

[2016-11-17 00:29] sebastian-code commented on #22
Besides the documentation on Read the Docs, is everything in place? What do you think?

[2016-11-17 00:33] sebastian-code commented on #32
I would say than the first two are far more clear of what we need to do; on the third one perhaps we need to define previously what do we want as documentation and what do we want to include in there

[2016-11-17 13:26] cdvv7788 commented on #22
Yeah, i think so.

[2016-11-17 13:26] #22 closed

[2016-11-17 13:27] cdvv7788 commented on #9
I think 90% is good enough for now. We can try going for 95%, but keep 90 as the minimum.

[2016-11-17 13:27] #9 closed

[2016-11-17 13:28] cdvv7788 commented on #13
Yeah, i think that is already possible. We use django-qa in a couple projects and we have been able to modify the templates without issues. @jlariza do you agree?

[2016-11-18 11:58] jlariza commented on #13
@sebastian-code @cdvv7788 yes, I think right now it is very easy to overwrite the qa templates and use your own. I think this issue is solved. I guess I am closing it, considering we all agree on that.

[2016-11-18 11:58] #13 closed

[2016-12-08 14:25] sebastian-code opened #33 "Lack of proper documentation"
Right now the package lacks documentation. Part of it because there is no clear path to what is needed as documentation for the project.

[2016-12-08 14:31] cdvv7788 commented on #33
@sebastian-code Should we create a basic documentation in RTD?

[2016-12-08 19:56] sebastian-code commented on #33
I'm not sure about it @cdvv7788, is the package that complex than we need something of the likes of RTD? is there any other alternative? Obviously, we can go with that kind of documentation, and evolve it with the package. Perhaps we should do it.

[2016-12-08 19:57] sebastian-code commented on #33
Thinking it through, I would say than we should go with it. How does that works?

[2016-12-17 13:39] sebastian-code commented on #33
It's already starting on the develop branch, but still lacks proper everything

[2016-12-17 22:16] sebastian-code commented on #32
Quick question, should we add another kind of stuff on this project? Tox? Anything?

[2016-12-17 22:44] sebastian-code opened #34 "Fail on test on views"
Test `test_question_by_tag_returns_related_tag_questions` fails on line 408 and line 412, the test reports `TypeError: 'SQLCompiler' object is not callable`.

[2016-12-18 15:15] sebastian-code commented on #31
About this one, @cdvv7788 you said on #26 than the taggin issue with the models across the project was solved, can you elaborate? Wasn't fixed then?

[2016-12-21 20:47] cdvv7788 commented on #33
Thanks @sebastian-code.

[2016-12-21 20:47] #33 closed

[2016-12-26 23:18] sebastian-code opened #35 "Custom Control Buttons"
There is no easy way to change or customize the actual widget theme for the buttons on the markdown text areas where the package django-markdown-app expose them.

[2016-12-28 20:17] cdvv7788 opened #36 "Move settings to dictionary"
All package settings should be inside of a dictionary.

[2016-12-28 20:48] cdvv7788 opened #37 "Know user reputation by tag"
Have details about how much reputation has an user on every tag he has participated.

[2016-12-29 01:37] sebastian-code commented on #37
The first point with this issue is to make clear than the easiest way to implement it is to use a field of the type `JSONField`, which will block any implementation on any other DB Engine different than PostgreSQL, unless there a solution I'm not aware of.

[2017-01-06 20:56] cdvv7788 commented on #21
Released to pypi on version 0.1.1.

[2017-01-06 20:56] #21 closed

[2017-01-08 15:04] sebastian-code commented on #21
It actually improved the hit count on the question a lot, but still there is a way to cheat it. If you do the view in a fresh _private session tab_ on your browser, you can register a new visit every time; I suppose than it also applies to your regular browser if you delete your cookies and navigation history. I don't see people doing it, but that's perhaps how the package works.

[2017-01-08 15:53] sebastian-code commented on #36
Some pointers to implement or to have in mind for development:

Upvote/Downvote Question -> Creator
Upvote/Downvote Answer -> Creator
Upvote/Downvote QuestionComments -> Creator
Upvote/Downvote AnswerComments -> Creator
Accepted Answer -> Creator
Downvoting Question -> Voter
Downvoting Answer -> Voter
Downvoting QuestionComment -> Voter
Downvoting QuestionAnswer -> Voter

Need to lock rows before

[2017-01-09 14:54] cdvv7788 commented on #21
That's expected behavior. Another option would be limiting views to logged in users, but we should leave that to the package users. We could add a setting for that.

[2017-01-09 14:56] cdvv7788 opened #38 "Add setting to configure hitcount"
It should allow me to select if i want to count the hits from any user or just the logged in ones.

[2017-03-18 14:08] sebastian-code commented on #34
Closing

[2017-03-18 14:08] #34 closed

[2017-03-18 14:11] sebastian-code commented on #36
Almost done, the functionality still lacks the Vote part, but the other activities are already affecting the reputation in a proper way.

[2017-03-18 14:11] sebastian-code commented on #38
Shouldn't this work around the hitcount package?

[2017-03-18 14:12] sebastian-code commented on #32
Almost there, almost there

[2017-03-18 14:14] sebastian-code commented on #17
Is working now, the vote process still needs a better implementation, but the reputation process is working properly.

[2017-03-18 14:14] #17 closed

[2017-03-18 15:00] cdvv7788 commented on #38
@sebastian-code it is, and should be implemented already. Please verify and close.

[2017-03-18 15:19] sebastian-code commented on #38
According to the documentation, this is done inside the view, the proper way to do it is to inherit from LoginRequiredMixin inside the DetailView.

[2017-03-18 16:16] sebastian-code commented on #38
Looking into the code, the only thing there is room to implement is to override the `count_hit` variable inside the `QuestionDetailView` through the `QA_SETTINGS` dictionary inside the settings file, which is going to default to `True`.

[2017-03-18 16:17] cdvv7788 commented on #38
If we are requiring the package, i don't see a good reason to avoid this. If the user definitely wants to disable it, he can subclass it.

[2017-03-18 16:34] sebastian-code commented on #38
Fixed 9cc46def3e44b826b65ed8394afbe31f53baf13f

[2017-03-18 16:34] #38 closed

[2017-04-05 10:46] vikrampanwar opened #39 "documentation"
plz provide how to use this app once it is installed.
i found qa files in my libraries of the project but don't know what to import and what functions to call to get my work done. plz provide ASAP.

[2017-04-05 20:56] sebastian-code commented on #39
Hi @vikrampanwar this is the actual documentation https://django-qa.readthedocs.io/en/latest/ there you can find instructions to install and implement the package; does it solve your requirement? do you need more help?

[2017-05-13 15:39] sebastian-code commented on #39
Closing unless there is additional requirements.

[2017-05-13 15:39] #39 closed

[2017-05-13 15:57] sebastian-code commented on #36
This is done with the latest release. Closing now.

[2017-05-13 15:57] #36 closed

[2017-09-05 07:46] remydev opened #40 "bug add new question"
Hello,
I just tryed to install django-qa but i have got the folowing error.

I tried it on a new django install,
`pip install django-qa`
and i simply add

`INSTALLED_APPS = (
...
'qa',
'taggit',
'hitcount',
...
)`

TemplateDoesNotExist at /en/admin/qa/question/add/
django_markdown/editor_init.html

Request Method:	GET
Request URL:	http://192.168.122.150:8000/en/admin/qa/question/add/
Django Versio

[2017-09-05 12:32] sebastian-code commented on #40
Hi @remydev from the stack trace I can see than your issue is with the package django-markdown-app, it looks like is not installed, did you installed the package manually? if so, did you installed the requirements? did you use pip to install the package?

[2017-09-05 12:41] remydev commented on #40
thanks to replay ;)

yes i do it with pip ...

(decattitude) root@debian:~/projects# pip install django-markdown-app==0.9.2
Requirement already satisfied: django-markdown-app==0.9.2 in /root/env/decattitude/lib/python3.5/site-packages
Requirement already satisfied: markdown>=2.6.7 in /root/env/decattitude/lib/python3.5/site-packages (from django-markdown-app==0.9.2)
Requirement already satisfied:

[2017-09-05 18:17] sebastian-code commented on #40
Hi @remydev I have been trying to replicate the error but I'm unable to achieve it. Is there additional information you can provide about your issue?

[2017-09-05 20:04] remydev commented on #40
I tried with a fresh install, but I'm not good enough to understand the problem, I have the same result again.
I do not know what information can help, I do it with a simple django and here with django cms same resurl

root@debian:~# virtualenv env/qa2 -p /usr/bin/python3.5
Running virtualenv with interpreter /usr/bin/python3.5
Using base prefix '/usr'
New python executable in /root/env/qa2/bin/py

[2017-09-05 20:11] cdvv7788 commented on #40
@remydev Does the sample project run for you? Clone the repo, open test_project, install requirements and run "python manage.py runserver".

[2017-09-06 05:58] remydev commented on #40
Ok it's works with the clone, when i start the test_project.
I will try to understand why and come back
thanks

[2017-09-06 06:07] #40 closed

[2017-09-20 17:32] qari opened #41 "'django_markdown' is not a registered tag library."
'django_markdown' is not a registered tag library.
-

Django Version: | 1.11.5
-- | --

Python Version: | 3.5.4
-- | --

[2017-10-11 17:45] achillis2 commented on #41
Just add     'django_markdown' in INSTALLED_APPS

[2017-10-11 17:47] achillis2 opened #42 "can't close the question"
The url doesn't exist when I try to close the question. Can someone help?

[2017-10-12 22:13] #41 closed

[2017-10-12 22:13] sebastian-code commented on #42
Solved.

[2017-10-12 22:13] #42 closed

[2017-12-04 04:32] yuriiz opened #43 "Non-ascii in Question or Answer causes UnicodeEncodeError"
Steps to reproduce:
1. Enter non-ascii text in question or answer
2. Visit /admin/qa/answer/pk/change/
3. Get
`Error during template rendering
In template /home/u/freedomregistry/local/lib/python2.7/site-packages/django/contrib/admin/templates/admin/change_form.html, error at line 21
`
Line 21:
`&rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% el

[2018-02-09 07:17] jetcanfly opened #45 "Cannnot use installation docs to install django-qa"
Hi guy, I'm following instruction in this page to install django-qa : https://django-qa.readthedocs.io/en/latest/installation.html
And I failed.
When I run python manage.py migrate, I get this :
File "E:\Course\341_project\test_qa\venv\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line

[2018-02-09 21:43] cdvv7788 commented on #45
Hi. I think you need to define the settings: https://django-qa.readthedocs.io/en/latest/settings.html
We should add that to the docs as a requirement.

[2018-02-10 12:05] #43 closed

[2018-02-10 12:06] sebastian-code commented on #45
Solved

[2018-02-10 12:06] #45 closed

[2018-02-19 14:59] Postroutine opened #46 "Dependency problem, if installed from pip"
If I try to install `django-qa` from pip, I get a dependency that can't be satisfied.
The  dependency is `django-markdown-app`.  `django-qa` require `django-markdown-app` at version  0.9.2 but the only available versions are 0.8.5, 0.8.5.1, 0.9.3.1, 0.9.4 and 0.9.4.1.

I launched pip on:
- Virtualenv
- Python 3.6.4
- Fedora GNU/Linux 27

Command launched:
[code]

Result:
[code]

[2018-02-19 15:17] sebastian-code commented on #46
Solved. Closing

[2018-02-19 15:17] #46 closed

[2018-02-19 15:22] Postroutine commented on #46
That was quick.
Thanks.

How many time before available on PIP?

[2018-02-19 15:42] sebastian-code commented on #46
Good question, I'm ashamed to say this, but I don't know, I'm not that aware of how long it takes. I can guess it takes around an hour.

[2018-02-20 12:47] Postroutine commented on #46
Who manage the package on `pip`?

[2018-02-20 14:39] Postroutine opened #47 "0.9.4.1 release say it's 0.9.1 on setup.py"
On the 0.9.4.1 release, the `setup.py` file say it's version is `0.9.1`.

[2018-02-20 14:45] Postroutine commented on #46
I check the `0.9.4.1` release and the `setup.py` file still require `django-markdown-app` at version 0.9.2.
Bug not fixed. :(

[2018-02-20 15:04] Postroutine commented on #46
I propose a PR to avoid this problem in the future: https://github.com/swappsco/django-qa/pull/48/

[2018-02-20 21:44] #47 closed

[2018-02-22 11:53] Postroutine opened #50 "[Feature Request] Ability to mark which answer resolve the question"
Actually, you can mark a question as resolved. But you can't say which answer resolve the question.

It would be useful if you can mark and show which answer resolve the question.

[2018-02-22 13:21] Postroutine opened #51 "No vote system after installation"
I installed Django-qa following the `docs/installation.rst` and `docs/index.rst` instructions.
But the vote system don't work. It is not visible at all on the views.

[2018-02-22 15:41] Postroutine opened #52 "Open a IRC channel"
It would be nice to open an IRC channel to ask questions about dev and usage of Django-qa. ;)

[2018-02-22 16:17] Postroutine opened #53 "In all views: head elements (html) in wrong place"
In all views, the HTML head elements are inside the body.

This is what I get at the top of the HTML:
[code]

No <head> part.

[2018-02-22 16:23] ghost opened #54 "Load fonts, JS and CSS locally"
In order to respect private life of users and independence of the application, it would be better to load all CSS, JS, fonts and other locally instead of using external url.

[2018-02-22 16:31] Postroutine commented on #51
My fault. Sorry.

[2018-02-22 16:31] #51 closed

[2018-03-04 10:19] nickkfwong commented on #46
Hi, i have exact the same problem. I guess the latest update is still not available from pip?

Is there anyway to setup before it is properly updated on the packaging repo?

[2018-03-04 13:32] Postroutine commented on #46
@nickkfwong
[code]

[2018-03-06 22:01] sebastian-code commented on #54
Could you elaborate?

[2018-03-08 14:47] Postroutine commented on #54
[Google Fonts](https://protonmail.uservoice.com/forums/284483-feedback/suggestions/10401618-stop-using-google-fonts-which-track-users-browsi) and  BootstrapCDN are known for tracking visitors.

And depending on external services for providing some parts of the website is not a good idea for the independence of the application. If Google or Bootstrap fail, the QA application too.

[2018-03-08 17:19] Postroutine opened #56 "Use more forms"
It would be better to using Forms and FormViews for the views `AnswerQuestionView`, `CloseQuestionView`, and `ParentVoteView`.

[2018-03-08 17:19] Postroutine commented on #56
PS: I can work on that. ;)

[2018-03-08 17:19] Postroutine commented on #54
PS: I can work on that. ;)

[2018-03-08 17:21] Postroutine commented on #50
I see you have started by creating a view named `AnswerQuestionView`, but it's not used on any template. What is his status?

[2018-03-13 07:39] TheFoolishKumar opened #57 "Installation Problem"
`pip install django-qa` results in an error saying,
Could not find a version that satisfies the requirement django-markdown-app==0.9.2 (from django-qa) (from versions: 0.8.5, 0.8.5.1, 0.9.3.1, 0.9.4, 0.9.4.1)
No matching distribution found for django-markdown-app==0.9.2 (from django-qa)

[2018-03-13 15:13] sebastian-code commented on #57
Please take a look at #47

[2018-03-13 15:13] #57 closed

[2018-03-16 18:05] cdvv7788 commented on #56
Sorry for the lack of answer, been busy lately. I will try to be more responsive.
About this issue, it just grew up a little. Those validations could be done inside a form definitely. You can create the PR and we will see how it works from there.

[2018-03-16 18:08] cdvv7788 commented on #54
Well, I think that is mainly a documentation issue. What we want is an application that can be embedded into a site without forcing them to use our templates. If the end user is not using bootstrap or google fonts, those files won't stay around.
Does that make sense? @Postroutine

[2018-03-16 18:10] cdvv7788 commented on #53
I have to review this. It may be a documentation issue because if I am not wrong this is meant to be included in a parent template. Again, have to review. Will have you an answer soon. Sorry for the delay.

[2018-03-16 18:12] cdvv7788 commented on #52
Well, that depends on general usage. I think we can consider it if there is enough people using it, otherwise it would be a dead channel most of the time.
For now, I will try to be more responsive with the issues.

[2018-03-16 18:14] cdvv7788 commented on #50
Oh really? The user should have the possibility of knowing which question was marked as an answer. I will check this and the PR. Thanks!

[2018-03-16 18:23] Postroutine commented on #52
Ok

[2018-03-16 18:25] #52 closed

[2018-03-16 18:27] cdvv7788 opened #59 "Update to be compatible with django2.0"

[2018-03-16 18:27] cdvv7788 opened #60 "Update dependencies"

[2018-03-17 17:30] cdvv7788 commented on #53
Merged. You were right. Even if the base template is going to be overriden, it should not be incomplete. Thanks for the PR!

[2018-03-17 17:30] #53 closed

[2018-03-17 18:24] cdvv7788 commented on #50
Added a couple things to PR and closed it. Marking the answer as the accepted one, should not close the question. I added a button to the question so the owner can close it if he wants to. Thanks for the PR.

[2018-03-17 18:24] #50 closed

[2018-03-17 18:44] cdvv7788 commented on #54
The issue with this is that adding an internal javascript dependency to the package will add it when the user runs collectstatic, thing that I want to avoid. If the user already uses a bootstrap he will have 2 different bootstrap files simultaneously.
What I propose for this, is moving the requirements into their own block, and keeping the current dependencies by default. With that, the user will

[2018-03-17 19:02] cdvv7788 commented on #60
Project now supports django 1.11 (including test_project)

[2018-03-17 19:02] #60 closed

[2018-03-17 19:56] cdvv7788 commented on #59
Updated and released on pypi. Should work with django 1.11 and django 2.0 (Documented the caveat on django 2.0 in install page)

[2018-03-17 19:56] #59 closed

[2018-03-17 19:58] cdvv7788 opened #61 "Update travis to support new versions"
Currently we support the latest LTS (1.11) and most recent version. Travis is still testing older versions.

[2018-06-28 20:51] #54 closed

[2018-06-28 20:55] cdvv7788 opened #62 "Update requirements"
According to https://requires.io/github/swappsco/django-qa/requirements/?branch=master we have several outdated dependencies.

[2018-06-29 22:59] cdvv7788 opened #63 "Add python 3.7 to the tests"

[2018-06-30 21:55] cdvv7788 commented on #62
Could not update anything other than pytz because of django dependency. We will probably have to drop support for django < 2.0 to update those.

[2018-06-30 21:55] #62 closed

[2018-06-30 21:58] cdvv7788 opened #64 "Drop support for django < 2.0"
Will need to update docs too

[2018-06-30 22:37] sebastian-code commented on #64
Support for Django < 2.0 is necessary incompatible with Django == 1.11.x?

[2018-07-01 13:06] cdvv7788 commented on #64
There are 2 dependencies that are not compatible with django2.0 unless the last version is used, and that version, in time, is not compatible with django < 2.0

[2018-07-02 19:26] cdvv7788 opened #65 "Migrate repo to a non-fork"
Having this repo being a fork is not useful in any way. The parent repository is probably dead and does not serve any purpose. We can change this repository to be the parent one, but that will mean that all the stars/forks, etc will be lost.
Is that worth it?

[2018-07-02 19:58] sebastian-code commented on #65
The relationship with the parent repository has no real effect on the package, and deleting the repository I guess will hurt at least at some level the package _fame_ (is that a thing?).

My opinion? Is not worth it.

[2018-07-03 23:49] #65 closed

[2018-07-03 23:51] cdvv7788 commented on #32
Should we leave the reputation system out of scope and just release the version 1.0?

[2018-07-03 23:53] cdvv7788 opened #66 "Implement theming"
Currently we have some templates that force users on a cdn with bootstrap. Maybe we should create a separate package for the "theme" and leave just the bare minimum required for the package to work?

Accepting ideas on how to improve this.

[2018-07-04 13:28] sebastian-code commented on #66
I don't see it. Perhaps implementing ways to override the templates?

[2018-07-06 15:40] sebastian-code commented on #63
As stated in travis-ci/travis-ci/#9069 and travis-ci/travis-ci/#9552 TravisCI isn't able to run Python 3.7.x, and it seems they don't have a release date yet.

[2018-07-20 20:14] cdvv7788 opened #67 "Drop support for python2"
Django2 does not support python2, so if we are going to implement (https://github.com/swappsco/django-qa/issues/64) we will have to drop support for python2

[2018-09-12 21:22] django-diletante opened #68 "support for django 2.1.1"
HI.
Can you add support for django 2.1.1

The problem is that the django-markdown-app required is the 0.9.4.1 version.

thanks in advance.

[2018-09-21 01:08] #67 closed

[2018-09-21 01:09] #61 closed

[2018-09-21 01:09] #64 closed

[2018-09-21 01:17] cdvv7788 commented on #68
@django-diletante What specific issue are you getting? I was able to install django 2.1 with the mentioned django-markdown-app.

[2019-02-09 16:10] yuriiz commented on #68
django-markdown-app==0.9.4.1 is incompatible with Django 2.1.1
It requires `Django>=2.0,<=2.1`
See https://pypi.org/project/django-markdown-app/0.9.4.1/#files

[2020-09-02 18:04] colin-byrne-1 commented on #68
I am getting `django-markdown-app 0.9.3.1 requires Django<1.12.*,>=1.8, but you'll have django 2.2.2 which is incompatible.`, for what it's worth.

[2020-11-03 03:48] colin-byrne-1 commented on #28
Very old here, but this should probably be reopened. Still not explained very well.

[2020-12-14 09:22] divyum-sethi opened #69 "Operational Error : No such table qa_question"

[2020-12-18 08:49] OfficialRuby commented on #69
This is not a package related error.
You are getting such error because you migrations are not properly done or your migrations are missing some files.
This issue may be solved by running migrations.
`python manage.py makemigrations`
`python manage.py migrate`

If the problem persists, try running:
`python manage.py migrate --run-syncdb`
Do not forget to run `python manage.py makemigrations` befor

[2021-07-20 08:27] icecore2 opened #70 "Exception: AttributeError: 'Settings' object has no attribute 'QA_SETTINGS'"
By following the installation guide, I had an exception:
`AttributeError: 'Settings' object has no attribute 'QA_SETTINGS'`

By adding the following to the settings in my main project file fixed the exception:
[code]

[2021-10-21 14:24] Zachary-Rude opened #71 "Add build instructions for Windows"
Your current build instructions seem to use Make, which doesn't work on Windows. How can we build this on Windows?

[2022-04-21 10:49] mdhuzaifapatel opened #72 "OperationalError at / no such table: qa_question"
OperationalError at /
no such table: qa_question

im getting this error pls help me out how to run this project